 .folio__buttons{
    margin-top: 94px;
    margin-right: 8px;
    margin-left: 8px;
    align-items: center;
    
    .button{
        width: 128px;
        height: 38px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        border: var(--color-team);

        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-color: var(--primary-color);
            color: var(--second-color);
            background-color: var(--primary-color);
        }
        &:focus{
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            color: var(--second-color);
            background-color: var(--primary-color);
            outline: 1px;
        }
    }
    
}
