header{
    border-bottom: 1px solid var(--line-color);
}
.header-nav__links {
    color: var(--text-color); 
    margin-right: 50px;  
    
    &:hover::after{
        content: "";
        position: absolute;
        width: 48px;
        height: 4px;
        background: var(--primary-color);
        border-radius: 2px;
        display: flex;
        margin-top: 25px;
      }
    
    &:hover,
    &:focus{
        color: var(--primary-color);
    }
}
.header-nav__links--underline:hover::after{
    width: 67px;  
}

.header-info__link {
        color: var(--third-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
    
    &:hover,
    &:focus{
        color: var(--primary-color);
        }
    }
.header-info__icon{
        margin-right: 10px;
        fill: var(--third-color);

    &:hover,
    &:focus{
        fill: var(--primary-color);
        }
}
.header-info__icon--tel{
    margin-left: 30px;
} 
nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: top;
    letter-spacing: 0.02em;
}